{
  "userPoolId": "${user_pool_id}",
  "clientId": "${client_id}",
  "clientSecret": "${client_secret}",
  "cognitoDomain": "${cognito_domain}",
  "region": "${region}",
  "issuer": "${issuer}",
  "cloudfrontDomain": "${cloudfront_domain}"
}
